{% extends 'new_base.html' %}
{% block content %}
{% for article in articles %}
<article class="card mb-4" >
    <div class="row card-body card_start">
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="post-slider slider-sm slick-initialized slick-slider">
                <div class="slick-list draggable">
                    <div class="slick-track" style="opacity: 1; width: 207px; transform: translate3d(0px, 0px, 0px);">
                        <img src="{{article.image}}" class="card-img"
                            alt="post-thumb" style="height: 200px; object-fit: cover; width: 207px;"
                            data-slick-index="0" aria-hidden="false" tabindex="0">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3 class="h4 mb-3 post-title">{{article.title}}</h3>
            <ul class="card-meta list-inline">
                <li class="list-inline-item">
                    <ion-icon name="alarm-outline"></ion-icon>{{article.read_time}} Min To Read
                </li>
                <li class="list-inline-item">
                    <ion-icon name="calendar-outline"></ion-icon>{{article.date_published|date:"d M Y"}}
                </li>
                <!-- Tags  -->
                <li class="list-inline-item">
                    <ul class="card-meta-tag list-inline">
                        {% for tag in article.tags.all %}
                            <li class="list-inline-item"><a href="{% url 'post:search' %}?search_type=tags&search={{tag|urlencode}}">{{tag.name|title}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <p>{{article.body|truncatewords:25}}</p>
            <a href="{{article.get_absolute_url}}" class="btn btn-outline-success">show more</a>
        </div>
    </div>
</article>
{% endfor %}

<!-- Pagination Ki Ganit -->
<nav aria-label="Pagination">
    <hr class="my-0" />
    <ul class="pagination justify-content-center my-4">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Newer</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a>
        </li>
        {% endif %}
        {% with ''|center:page_obj.paginator.num_pages as range %}
        {% for _ in range %}
            {% if forloop.counter == page_obj.number %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ forloop.counter }}">
                        {{ forloop.counter }}
                    </a>
                </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ forloop.counter }}">
                    {{ forloop.counter }}
                </a>
            </li>
            {% endif%}
        {% endfor %}
        {% endwith %}
        
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Older</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Older</a>
        </li>
        {% endif %}
    </ul>
</nav>
<!-- Pagination ki ganit end  -->

{% endblock %}
{% block aside %}
<div class="widget">
    <h4 class="widget-title"><span>Search</span></h4>
    <form method="GET" action="{% url 'post:search'%}"class="needs-validation shadow" novalidate="" autocomplete="off">
        {% csrf_token %}
        <div class="input-group">
            {{form.search}}
            <button class="btn btn-primary btn-sm" id="button-search" type="submit">Search</button>
        </div>
    </form>
</div>

<!-- categories -->
<div class="widget widget-categories">
    <h4 class="widget-title"><span>Categories</span></h4>
    <ul class="list-unstyled widget-list">
        {% for category in categories %}
            <li><a href="{% url 'post:search' %}?search_type=categories&search={{category|urlencode}}" class="d-flex">{{category|title}} <small class="ml-auto">(0)</small></a></li>
        {% endfor %}
    </ul>
  </div>

<div class="widget">
    <h4 class="widget-title"><span>Tags</span></h4>
    <ul class="list-inline widget-list-inline widget-card">
        {% for tag in tags %}
            <li class="list-inline-item"><a href="{% url 'post:search' %}?search_type=tags&search={{tag|urlencode}}">{{tag|title}}</a></li>
        {% endfor %}
    </ul>
  </div>
  
{% endblock %}