{% extends 'new_base.html' %}
{% block content %}
<article>
    <!-- Post header-->
    <header class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1">{{article.title}}</h1>
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2">
            Posted on {{article.date_published|date:"d M Y"}} by 
            {{article.author.username }}
        </div>
        <!-- Post categories-->
        <a class="badge bg-primary text-decoration-none " href="#!">Web Design</a>
        <a class="badge bg-primary text-decoration-none " href="#!">Freebies</a>
    </header>
    <!-- Preview image figure-->
    <figure class="mb-4"><img class="img-fluid rounded" src="https://picsum.photos/id/{{article.id}}/940/400"
            alt="..." /></figure>
    <!-- Post content-->
    <section class="mb-5 shadow" style="background-color: #e7effd;">
        <div class="flex-start p-4">
        {% for paragraph in text_to_paragraph %}
        <p class="fs-5 mb-4">
            {{ paragraph }}
        </p>
        {% endfor %}
        </div>
        <!-- <h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2> -->
    </section>
</article>
{% include "post/comments.html" %}
{% endblock%}
{% block aside %}
<div class="widget">
    <h4 class="widget-title"><span>Search</span></h4>
    <form method="GET" action="{% url 'post:search'%}" class="needs-validation shadow" novalidate="" autocomplete="off">
        {% csrf_token %}
        <div class="input-group">
            {{search_form.search}}
            <button class="btn btn-primary btn-sm" id="button-search" type="submit">Search</button>
        </div>
    </form>
</div>


<div class="widget">
    <h4 class="widget-title">Recent Post</h4>
    <!-- post-item -->
    {% for recent in recent_articles %}
    <article class="widget-card">
        <div class="d-flex">
            <img class="card-img-sm" src="{{recent.image}}">
            <div class="ms-3">
                    <a class="post-title" href="{{recent.get_absolute_url}}">
                    {{recent.title}}
                    </a>
                <ul class="card-meta list-inline mb-0">
                    <li class="list-inline-item mb-0">
                        <ion-icon name="calendar-outline"></ion-icon>15 jan, 2020
                    </li>
                </ul>
            </div>
        </div>
    </article>
    {% endfor %}
</div>

<!-- categories -->
<div class="widget widget-categories">
    <h4 class="widget-title"><span>Categories</span></h4>
    <ul class="list-unstyled widget-list">
        {% for category in categories %}
        <li><a href="tags.html" class="d-flex">{{category|title}} <small class="ml-auto">(0)</small></a></li>
        {% endfor %}
        <!-- <li><a href="tags.html" class="d-flex">Demo <small class="ml-auto">(1)</small></a></li>
      <li><a href="tags.html" class="d-flex">Elements <small class="ml-auto">(1)</small></a></li>
      <li><a href="tags.html" class="d-flex">Food <small class="ml-auto">(1)</small></a></li>
      <li><a href="tags.html" class="d-flex">Microwave <small class="ml-auto">(1)</small></a></li>
      <li><a href="tags.html" class="d-flex">Natural <small class="ml-auto">(3)</small></a></li>
      <li><a href="tags.html" class="d-flex">Newyork city <small class="ml-auto">(1)</small></a></li>
      <li><a href="tags.html" class="d-flex">Nice <small class="ml-auto">(1)</small></a></li>
      <li><a href="tags.html" class="d-flex">Tech <small class="ml-auto">(2)</small></a></li>
      <li><a href="tags.html" class="d-flex">Videography <small class="ml-auto">(1)</small></a></li>
      <li><a href="tags.html" class="d-flex">Vlog <small class="ml-auto">(1)</small></a></li>
      <li><a href="tags.html" class="d-flex">Wondarland <small class="ml-auto">(1)</small></a></li> -->
    </ul>
</div>

<div class="widget">
    <h4 class="widget-title"><span>Tags</span></h4>
    <ul class="list-inline widget-list-inline widget-card">
        {% for tag in tags %}
        <li class="list-inline-item"><a href="tags.html">{{tag|title}}</a></li>
        {% endfor %}

        <!-- <li class="list-inline-item"><a href="tags.html">City</a></li>
      <li class="list-inline-item"><a href="tags.html">Color</a></li>
      <li class="list-inline-item"><a href="tags.html">Creative</a></li>
      <li class="list-inline-item"><a href="tags.html">Decorate</a></li>
      <li class="list-inline-item"><a href="tags.html">Demo</a></li>
      <li class="list-inline-item"><a href="tags.html">Elements</a></li>
      <li class="list-inline-item"><a href="tags.html">Fish</a></li>
      <li class="list-inline-item"><a href="tags.html">Food</a></li>
      <li class="list-inline-item"><a href="tags.html">Nice</a></li>
      <li class="list-inline-item"><a href="tags.html">Recipe</a></li>
      <li class="list-inline-item"><a href="tags.html">Season</a></li>
      <li class="list-inline-item"><a href="tags.html">Taste</a></li>
      <li class="list-inline-item"><a href="tags.html">Tasty</a></li>
      <li class="list-inline-item"><a href="tags.html">Vlog</a></li>
      <li class="list-inline-item"><a href="tags.html">Wow</a></li> -->
    </ul>
</div>
{% endblock %}